@if (loading) {
  <ion-skeleton-text animated />
} @else {
  <ion-chip
    >
    <ion-grid>
      <ion-row>
        @if (icon) {
          <ion-col
            [size]="(info || note) ? 3 : 12"
            [sizeLg]="(info || note) ? 3 : 12"
            >
            <ion-img class="icon" [src]="icon"></ion-img>
          </ion-col>
        }

        @if (info) {
          <ion-col
            [size]="icon ? 9 : ((note && vertical ? 7 : 12))"
            [sizeLg]="icon ? 9 : ((note && vertical ? 7 : 12))"
            >
            @switch (type) {
              @case ("text") {
                <ion-text>{{ info }}</ion-text>
              }
              @default {
                <ion-title>{{ info }}</ion-title>
              }
            }
          </ion-col>
        }

        @if (note) {
          <ion-col
            [size]="icon ? (info ? 12 : 9) : ((info && vertical) ? 5 : 12)"
            [sizeLg]="icon ? (info ? 12 : 9) : ((info && vertical) ? 5 : 12)"
            >
            <ion-note
              [style.align-self]="vertical ? 'end' : ''"
              >{{ note }}</ion-note>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  </ion-chip>
}
