:host {
  ion-skeleton-text {
    height: 50px;
  }

  ion-chip {
    height: 100%;
    display: flex;
    margin: 0;
    text-align: center;
    cursor: default;
    pointer-events: none;

    * {
      cursor: inherit;
      pointer-events: inherit;
    }

    ion-row {
      ion-title,
      ion-text,
      ion-note {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      .img, .icon {
        width: 100%;
        height: 100%;
      }

      ion-col .icon {
        height: 20px;
      }
    }
  }
}

:host([outline]) ion-chip {
  --background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #595959;
}

:host([clickable]) ion-chip {
  pointer-events: auto;
  cursor: pointer;
}

:host([vertical]) ion-chip {
  flex-direction: column;
}

:host([horizontal]) {
  flex-direction: row;
}


