@if (loading) {
  <ion-skeleton-text animated />
} @else {
  <ion-chip
    [style.background]="color"
    >
    <ion-grid>
      <ion-row>
        @if (img || icon) {
          <ion-col
            [size]="(info || note) ? 3 : 12"
            [sizeLg]="(info || note) ? 3 : 12"
            >
            @if (img) {
              <ion-img class="img" [src]="img"></ion-img>
            } @else if (icon) {
              <ion-icon class="icon" [name]="icon"/>
            }
          </ion-col>
        }

        @if (info) {
          <ion-col
            [size]="(img || icon) ? 9 : ((note && vertical ? 7 : 12))"
            [sizeLg]="(img || icon) ? 9 : ((note && vertical ? 7 : 12))"
            >
            @switch (type) {
              @case ("text") {
                <ion-text
                  [style.color]="textColor">{{ info }}</ion-text>
              }
              @default {
                <ion-title
                  [style.color]="textColor">{{ info }}</ion-title>
              }
            }
          </ion-col>
        }

        @if (note) {
          <ion-col
            [size]="(img || icon) ? (info ? 12 : 9) : ((info && vertical) ? 5 : 12)"
            [sizeLg]="(img || icon) ? (info ? 12 : 9) : ((info && vertical) ? 5 : 12)"
            >
            <ion-note
              [style.align-self]="vertical ? 'end' : ''"
              [style.color]="textColor">{{ note }}</ion-note>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  </ion-chip>
}
