<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"/>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="toggleMediaFavorite()" [disabled]="isTogglingFavorite">
        @if (isTogglingFavorite) {
          <ion-spinner name="dots" slot="icon-only"></ion-spinner>
        } @else {
          <ion-icon
            slot="icon-only"
            [color]="data?.isFavourite ? 'danger' : 'medium'"
            [name]="data?.isFavourite ? 'heart' : 'heart-outline'"
            />
        }
      </ion-button>

      <ion-button>
        <ion-icon slot="icon-only" name="share-social" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="container">
      @if (data?.bannerImage || data?.coverImage?.color) {
        <ion-row class="bannerContainer">
          <ion-backdrop class="backdrop" [visible]="true"></ion-backdrop>
          <ion-img class="bannerImage" [src]="data?.bannerImage ?? data?.coverImage?.color"></ion-img>
        </ion-row>
      }

      <ion-row>
        <ion-col class="ion-padding" size="12" sizeMd="6">
          <ion-row class="basicInfoContainer">
            <ion-col class="coverImageContainer" size="6" sizeMd="6" sizeLg="5">
              <app-cover-image
                [float]="data?.bannerImage ? true : false"
                [src]="(data?.coverImage?.large?.replace('medium', 'large')) ?? data?.coverImage?.medium"
                [fallbackSrc]="data?.coverImage?.large"
                [loading]="loading"
                (click)="zoomImg((data?.coverImage?.large?.replace('medium', 'large')) ?? data?.coverImage?.medium)"
                />
            </ion-col>

            <ion-col class="titleContainer" size="6" sizeMd="6" sizeLg="7">
              @if (data?.isAdult) {
                <ion-row>
                  <ion-col size="1">
                    <ion-badge color="danger">Adult</ion-badge>
                  </ion-col>
                </ion-row>
              }
              <ion-row>
                <ion-col>
                  <app-section-title [loading]="loading" [title]="data?.title?.english ?? data?.title?.romaji"/>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <app-meta-item [icon]="data?.type==='MANGA' ? 'book-outline' : 'tv-outline'" [text]="data?.format ? toSentenceCase(data?.format, ' ') : 'Unknown'" nolines [loading]="loading"/>
                </ion-col>
                <ion-col size="12">
                  <app-meta-item icon="time" [text]="data?.episodes ? data?.episodes+' episodes' : data?.chapters ? data?.chapters+' chapters' : 'Unknown'" nolines [loading]="loading"/>
                </ion-col>
                <ion-col size="12">
                  <app-meta-item icon="radio" [text]="data?.status ? toSentenceCase(data?.status, ' ') : 'Unknown'" nolines [loading]="loading"/>
                </ion-col>
                <ion-col size="12">
                  <ion-button
                    [href]="data?.siteUrl"
                    target="_blank"
                    rel="noopener noreferrer"
                    size="small"
                    fill="outline"
                    >Open in AniList</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="ratingsContainer ion-margin-top ion-margin-bottom">
            @if (data?.nextAiringEpisode && data?.nextAiringEpisode?.timeUntilAiring && data?.nextAiringEpisode?.episode) {
              <ion-col>
                <app-info-chip class="rating"
                  [info]="'Ep ' + data?.nextAiringEpisode?.episode + ' in ' + secondsToDays(data?.nextAiringEpisode?.timeUntilAiring) + ' days'"
                  note="Airing"
                  [loading]="loading"
                  vertical
                  />
              </ion-col>
            }

            <ion-col>
              <app-info-chip class="rating"
                [info]="data?.meanScore ? data?.meanScore+'%' : '-'"
                note="Mean score"
                [loading]="loading"
                vertical
                />
            </ion-col>

            <ion-col>
              <app-info-chip class="rating"
                [info]="data?.averageScore ? data?.averageScore+'%' : '-'"
                note="Average score"
                [loading]="loading"
                vertical
                />
            </ion-col>

            <ion-col>
              <app-info-chip class="rating"
                [info]="data?.popularity ? data?.popularity?.toLocaleString() : '-'"
                note="Popularity"
                [loading]="loading"
                />
            </ion-col>

            <ion-col>
              <app-info-chip class="rating"
                [info]="data?.favourites ? data?.favourites?.toLocaleString() : '-'"
                note="Favourites"
                [loading]="loading"
                vertical
                />
            </ion-col>
          </ion-row>

          <ion-row class="descriptionContainer">
            <ion-col>
              @if (loading) {
                <ion-skeleton-text class="skeleton-description" animated/>
              } @else {
                <app-section-title class="ion-margin" title="Sinopsis"/>
                <app-collapsible [thresholdHeight]="100">
                  <ion-text [innerHTML]="data?.description ?? 'No description available.'"></ion-text>
                </app-collapsible>
              }
            </ion-col>
          </ion-row>

          @if (!loading) {
            <ion-row class="genresContainer ion-margin-top ion-margin-bottom" >
              @for (genre of data?.genres ?? []; track $index) {
                <ion-col sizeMd="4" sizeLg="3">
                  <app-info-chip class="genre" [info]="genre" type="text" outline></app-info-chip>
                </ion-col>
              }
            </ion-row>
          }
        </ion-col>


        <ion-col class="ion-padding" size="12" sizeMd="6">
          <ion-row class="tabNavigationContainer">
            <ion-segment
              [value]="selectedTab"
              (ionChange)="onSegmentChange($event)"
              mode="md"
              class="tab-segment">

              <ion-segment-button value="info" layout="icon-top">
                <ion-icon name="information-circle"></ion-icon>
              </ion-segment-button>

              <ion-segment-button value="people" layout="icon-top">
                <ion-icon name="people"></ion-icon>
              </ion-segment-button>

              <ion-segment-button value="relations" layout="icon-top">
                <ion-icon name="shuffle"></ion-icon>
              </ion-segment-button>

              <ion-segment-button value="stats" layout="icon-top">
                <ion-icon name="stats-chart"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </ion-row>

          <ion-row class="tabsContainer">
            @if (!loading) {
              @switch (selectedTab) {
                @case ('info') {
                  <app-info-tab [data]="data" [loading]="loading" />
                }
                @case ('people') {
                  <app-people-tab [data]="data" [loading]="loading" />
                }
                @case ('relations') {
                  <app-relations-tab [data]="data" [loading]="loading" />
                }
                @case ('stats') {
                  <app-stats-tab [data]="data" [loading]="loading" />
                }
              }
            } @else {
              <ion-col>
                @for (i of 7 | range; track i) {
                  <ion-row>
                    <ion-col size="12">
                      <ion-skeleton-text class="skeleton" animated/>
                    </ion-col>
                  </ion-row>
                }
              </ion-col>
            }
          </ion-row>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="showModal" (didDismiss)="showModal = false">
    <ng-template>
      <ion-content (click)="closeModal()" class="image-modal ion-padding">
        <ion-img [src]="selectedImg" class="full-image" />
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
