<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="icon-only" name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="../"></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>

        <ion-button>
          <ion-icon slot="icon-only" name="share-social"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="container">
    @if (data) {
      @if (data.bannerImage || data.coverImage?.color) {
        <ion-row class="bannerContainer">
          <ion-backdrop class="backdrop" [visible]="true"></ion-backdrop>
          <ion-img class="bannerImage" [src]="data.bannerImage ?? data.coverImage?.color"></ion-img>
        </ion-row>
      }

      <ion-row>
        <ion-col class="ion-padding" size="12" sizeLg="6">
          <ion-row class="basicInfoContainer">
            <ion-col class="coverImageContainer" size="6" sizeLg="4">
              @if (data.bannerImage || data.coverImage?.color) {
                <app-cover-image [float]="true" [src]="data.coverImage?.extraLarge ?? data.coverImage?.large ?? data.coverImage?.medium" [loading]="loading"></app-cover-image>
              } @else {
                <app-cover-image [float]="false" [src]="data.coverImage?.extraLarge ?? data.coverImage?.large ?? data.coverImage?.medium" [loading]="loading"></app-cover-image>
              }
            </ion-col>

            <ion-col class="titleContainer" size="6" sizeLg="8">
              <ion-row>
                <app-section-title [loading]="loading" [title]="data.title.english ?? data.title.romaji"/>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <app-meta-item icon="tv-outline" [text]="data.format ? toSentenceCase(data.format, ' ') : 'Unknown'" nolines [loading]="loading"/>
                </ion-col>
                <ion-col size="12">
                  <app-meta-item icon="time" [text]="data.episodes ? data.episodes+' episodes' : 'Unknown'" nolines [loading]="loading"/>
                </ion-col>
                <ion-col size="12">
                  <app-meta-item icon="radio" [text]="data.status ? toSentenceCase(data.status, ' ') : 'Unknown'" nolines [loading]="loading"/>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="ratingsContainer ion-margin-top ion-margin-bottom">
            @if (data.nextAiringEpisode && data.nextAiringEpisode.timeUntilAiring && data.nextAiringEpisode.episode) {
              <ion-col>
                <app-info-chip class="rating"
                  [info]="'Ep ' + data.nextAiringEpisode.episode + ' in ' + secondsToDays(data.nextAiringEpisode.timeUntilAiring) + ' days'"
                  note="Airing"
                  [loading]="loading" />
              </ion-col>
            }

            <ion-col>
              <app-info-chip class="rating"
                [info]="data.meanScore ? data.meanScore+'%' : '-'"
                note="Mean score"
                [loading]="loading" />
            </ion-col>

            <ion-col>
              <app-info-chip class="rating"
                [info]="data.averageScore ? data.averageScore+'%' : '-'"
                note="Average score"
                [loading]="loading" />
            </ion-col>

            <ion-col>
              <app-info-chip class="rating"
                [info]="data.popularity ? data.popularity+'%' : '-'"
                note="Popularity"
                [loading]="loading" />
            </ion-col>

            <ion-col>
              <app-info-chip class="rating"
                [info]="data.favourites ? data.favourites+'%' : '-'"
                note="Favourites"
                [loading]="loading" />
            </ion-col>
          </ion-row>

          <ion-row class="descriptionContainer">
            <ion-col>
              @if (loading) {
                <ion-skeleton-text class="skeleton-description" animated/>
              } @else {
                <app-section-title class="ion-margin" title="Sinopsis"/>
                <app-collapsible [thresholdHeight]="100">
                  <ion-text [innerHTML]="data.description ?? 'No description available.'"></ion-text>
                </app-collapsible>
              }
            </ion-col>
          </ion-row>

          @if (!loading) {
            <ion-row class="genresContainer ion-margin-top ion-margin-bottom" >
              @for (genre of data.genres ?? []; track genre) {
                <ion-col sizeLg="2">
                  <app-info-chip class="genre" [info]="genre" type="text" outline></app-info-chip>
                </ion-col>
              }
            </ion-row>
          }
        </ion-col>


        <ion-col class="ion-padding" size="12" sizeLg="6">
          <ion-row class="tabNavigationContainer">
            <ion-segment
              [value]="selectedTab"
              (ionChange)="onSegmentChange($event)"
              mode="md"
              class="tab-segment">

              <ion-segment-button value="info" layout="icon-top">
                <ion-icon name="information-circle"></ion-icon>
              </ion-segment-button>

              <ion-segment-button value="people" layout="icon-top">
                <ion-icon name="people"></ion-icon>
              </ion-segment-button>

              <ion-segment-button value="relations" layout="icon-top">
                <ion-icon name="shuffle"></ion-icon>
              </ion-segment-button>

              <ion-segment-button value="stats" layout="icon-top">
                <ion-icon name="stats-chart"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </ion-row>

          <ion-row class="tabsContainer">
            @if (!loading) {
              @switch (selectedTab) {
                @case ('info') {
                  <app-info-tab [data]="data" [loading]="loading" />
                }
                @case ('people') {
                  <app-people-tab [data]="data" [loading]="loading" />
                }
                @case ('relations') {
                  <app-relations-tab [data]="data" [loading]="loading" />
                }
                @case ('stats') {
                  <app-stats-tab [data]="data" [loading]="loading" />
                }
              }
            } @else {
              <ion-col>
                @for (i of 7 | range; track i) {
                  <ion-row>
                    <ion-col size="12">
                      <ion-skeleton-text class="skeleton" animated/>
                    </ion-col>
                  </ion-row>
                }
              </ion-col>
            }
          </ion-row>
        </ion-col>
      </ion-row>

    }
  </ion-grid>

</ion-content>
