.container {
  --ion-grid-padding: 0;
  --margin: 0;

  .bannerContainer {
    position: relative;
    height: 15vh;

    * {
      padding: 0;
      margin: 0;
    }

    .bannerImage {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .backdrop {
      background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 1)
      );
      opacity: 0.7;
      position: absolute;
      inset: 0;
      --backdrop-opacity: 0.4;
      pointer-events: none;
      z-index: 0;
    }
  }

  .basicInfoContainer {
    z-index: 1;
    padding: 5px;

    .titleContainer {
      padding: 2vw;
    }
  }

  .descriptionContainer {
    .skeleton-description {
      height: 100px;
    }

    .genresContainer {
      .genre {
        font-size: 100px;
        margin: 20px;
      }
    }
  }

  .tabNavigationContainer {
    ion-segment {
      border-radius: 50px;
      border: 1.5px solid white;

      ion-segment-button {
        --color-checked: white;
        --background-checked: #ffffff50;
      }
    }
  }

  .tabsContainer {
    width: 100%;

    am-info-tab,
    am-people-tab,
    am-relations-tab,
    am-stats-tab {
      width: 100%;
    }
  }
}

.skeleton {
  height: 20px;
}

ion-modal {
  --background: rgba(0, 0, 0, 0);
  --height: 100%;
  --width: 100%;
}

.image-modal {
  --background: transparent;
  --padding-top: 5vh;
  --padding-bottom: 5vh;
  --padding-start: 5vw;
  --padding-end: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  --backdrop-opacity: 0;

  &::part(scroll) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.full-image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  background: white;
  border-radius: 10px;
  padding: 2px;

  &::part(image) {
    border-radius: 10px;
  }
}


