<ion-grid class="main ion-padding-top" role="feed">
  @if (data) {
    @for (media of mediaEdges; track $index) {
      <ion-row
        (click)="triggerNavigationEvent(media.node.id, media.node.type)"
        role="article"
        class="media"
        >
        <ion-col size="3">
          <ion-img
            class="img"
            [src]="media.node.coverImage.large ?? media.node.coverImage.medium"
            />
        </ion-col>
        <ion-col size="9">
          <ion-row>
            <ion-col size="12">
              <ion-card-title class="title ion-no-padding">{{ media.node.title.english ?? media.node.title.romaji }}</ion-card-title>
            </ion-col>
            <ion-col size="12">
              <ion-note>{{ toSentenceCase(media.node.type) }}</ion-note>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    }
    <ion-infinite-scroll
      (ionInfinite)="loadMore($event)"
      threshold="0px"
      >
      <ion-infinite-scroll-content loadingSpinner="bubbles"/>
    </ion-infinite-scroll>
  } @else {
    <ion-text>no data</ion-text>
  }
</ion-grid>
