<ion-grid class="main ion-padding-top" role="feed">
  @if (data) {
    @for (media of mediaEdges; track $index) {
      <app-media-list-item
        [media]="media.node"
        (click)="triggerNavigationEvent(media.node.type, media.node.id)"
        />
    }
    <ion-infinite-scroll
      (ionInfinite)="loadMore($event)"
      threshold="20px"
      >
      <ion-infinite-scroll-content loadingSpinner="bubbles"/>
    </ion-infinite-scroll>
  } @else {
    <ion-text>no data</ion-text>
  }
</ion-grid>
