.trailerContainer {
  padding: 0;
  border-radius: 20px;
  overflow: hidden;

  .mediaBackdrop {
    opacity: 0.3;
  }

  .playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 50px;
    color: white;
    pointer-events: none;
  }

  .media {
    width: 100%;
    height: auto;
  }

  .media::part(image) {
    border-radius: 20px;
    object-fit: cover;
  }
}


