.login-prompt-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 90%;
  text-align: center;

  ion-card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .img {
    max-width: 200px;
    width: 50%;
    margin: 20px auto;
    border-radius: 8px;
    display: block;
  }

  ion-text {
    display: block;
    margin: 16px 0;
    color: var(--ion-color-medium);
  }

  ion-button {
    margin-top: 8px;
  }
}
