<ion-tabs>
  <ion-tab-bar [slot]="tabsPlacement">
    <ion-tab-button tab="home" href="/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="anime" href="/anime">
      <ion-icon aria-hidden="true" name="tv"></ion-icon>
      <ion-label>Anime</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manga" href="/manga">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Manga</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore" href="/explore">
      <ion-icon aria-hidden="true" name="compass"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
