.main {
  height: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: background-color 0.2s ease, transform 0.1s ease;
  padding: 5px;

  &:hover {
    background-color: rgba(var(--ion-color-tertiary-rgb), 0.1);
  }

  &:active {
    transform: scale(0.98);
  }

  ion-ripple-effect {
    color: var(--ion-color-tertiary);
    --ripple-color: var(--ion-color-tertiary);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  ion-ripple-effect::part(native) {
    animation-duration: 150ms;
  }

  ion-row, ion-col {
    padding: 0;
  }

  .img-container {
    flex: 0 0 auto;
    justify-content: center;

    ion-col {
      .image-wrapper {
        position: relative;
        width: 100%;
        aspect-ratio: 2 / 3;
      }

      .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        &.loaded {
          opacity: 1;
        }
      }

      .skeleton-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin: 0;
      }

      .favorite-tag {
        font-weight: bold;
        z-index: 1;
      }
    }
  }

  .img-loading {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .img-loading,
  .img::part(image) {
    border-radius: 10px;
  }

  .skeleton-label-line1 {
    margin-top: 5px;
    height: 2.4em;
    width: 100%;
    border-radius: 4px;
  }

  .skeleton-rating {
    width: 50px;
    height: 14px;
    border-radius: 4px;
  }

  .label-container {
    flex: 0 0 auto;
    min-height: 2.9em;

    .label {
      margin-top: 5px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 2.4em;
      line-height: 1.2em;
    }
  }

  .rating {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #F59E0B;
    min-height: 14px;

    .rating-icon {
      margin-right: 5px;
    }

    @media (prefers-color-scheme: dark) {
      color: #FDB34D;
    }
  }

  .note {
    min-height: 14px;
  }

  .bottom-row {
    margin-top: auto;
    flex: 0 0 auto;
  }

  :host([recommendation]) .rating {
    color: rgb(197, 197, 197);
  }
}


