<ion-grid class="main">
  @if (loading) {
    <ion-row class="img-container">
      <ion-col>
        <ion-skeleton-text animated class="img-loading"></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <ion-row class="label-loading-container">
      <ion-col>
        <ion-skeleton-text animated class="label-loading"></ion-skeleton-text>
      </ion-col>
    </ion-row>
  } @else {
    <ion-row class="img-container">
      <ion-col>
        <ion-img [src]="image" class="img" (ionError)="onImageError()"></ion-img>
        @if (isFavourite) {
          <div class="favorite-tag"> <ion-icon name="heart" class="heart-icon"></ion-icon></div>
        }
      </ion-col>
    </ion-row>
    <ion-row class="label-container">
      <ion-col>
        <ion-text class="label">{{ title }}</ion-text>
      </ion-col>
    </ion-row>
    @if (rating) {
      <ion-row class="rating bottom-row">
        <ion-col>
          <ion-icon [name]="recommendation ? 'thumbs-up-sharp' : 'star'" mode="icon-only"></ion-icon>
          <ion-text>{{ rating + (recommendation ? '' : '%')}}</ion-text>
        </ion-col>
      </ion-row>
    } @else if (note) {
      <ion-row class="note">
        <ion-col>
          <ion-note>{{ note }}</ion-note>
        </ion-col>
      </ion-row>
    }
  }
</ion-grid>
