.main {
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  ion-row, ion-col {
    padding: 0;
  }

  .img-container {
    height: 75%;
    justify-content: center;

    ion-col {
      height: 100%;

      .img {
        height: 100%;
        object-fit: cover;
        display: flex;
      }

      .favorite-tag {
        font-weight: bold;
        z-index: 1;
      }
    }
  }

  .img-loading {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .img-loading,
  .img::part(image) {
    border-radius: 8px;
  }

  .label-loading-container {
    height: 15%;

    .label-loading {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      margin-top: 5px;
    }
  }

  .label-container {
    .label {
      margin-top: 5px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 2.3em;
      line-height: 1.2em;
    }
  }

  .rating {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #ffcc00;
  }

  .bottom-row {
    margin-top: auto;
  }

  :host([recommendation]) .rating {
    color: rgb(197, 197, 197);
  }
}


