.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  scroll-snap-type: x mandatory;
  background-color: transparent;
}

app-catalog-item{
  flex: 0 0 auto;
  width: 170px;
  scroll-snap-align: start;
}
