@if (platformService.isHybrid()) {
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
}

<ion-content>
  <!-- <ion-text>Home Tab Works</ion-text> -->

  <app-section-header title="Next Season" [loading]="false"></app-section-header>

  <ion-list class="horizontal-scroll-container">
    <app-catalog-item title="Naruto" image="https://cdn.myanimelist.net/images/anime/13/17405.jpg" rating="20"></app-catalog-item>
    <app-catalog-item title="Naruto" image="https://cdn.myanimelist.net/images/anime/13/17405.jpg" rating="20"></app-catalog-item>
    <app-catalog-item title="Naruto" image="https://cdn.myanimelist.net/images/anime/13/17405.jpg" rating="20"></app-catalog-item>
    <app-catalog-item title="Naruto" image="https://cdn.myanimelist.net/images/anime/13/17405.jpg" rating="20"></app-catalog-item>
    <app-catalog-item title="Naruto" image="https://cdn.myanimelist.net/images/anime/13/17405.jpg" rating="20"></app-catalog-item>
    <app-catalog-item title="Naruto" image="https://cdn.myanimelist.net/images/anime/13/17405.jpg" rating="20"></app-catalog-item>
    <app-catalog-item title="Naruto" image="https://cdn.myanimelist.net/images/anime/13/17405.jpg" rating="20"></app-catalog-item>
    <app-catalog-item title="Naruto" image="https://cdn.myanimelist.net/images/anime/13/17405.jpg" rating="20"></app-catalog-item>
    <app-catalog-item title="Naruto" image="https://cdn.myanimelist.net/images/anime/13/17405.jpg" rating="20"></app-catalog-item>
    <app-catalog-item title="Naruto" image="https://cdn.myanimelist.net/images/anime/13/17405.jpg" rating="20"></app-catalog-item>
    <app-catalog-item title="Naruto" image="https://cdn.myanimelist.net/images/anime/13/17405.jpg" rating="20"></app-catalog-item>
  </ion-list>
</ion-content>
