<ion-grid class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-title>Voice Actors</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    @for (voiceActor of data; track $index) {
        <ion-col size="4">
          <am-person-item
            [image]="voiceActor.image.large ?? voiceActor.image.medium"
            [name]="voiceActor.name.full"
            [note]="voiceActor.language"
            [isFavourite]="voiceActor.isFavourite"
            (click)="openModal(voiceActor.id)"
            />
        </ion-col>
    }
  </ion-row>
</ion-grid>
