ion-title {
  padding: 0;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  max-height: 2.4em;
  line-height: 1.2em;
}

ion-skeleton-text {
  width: 150px;
  height: 32px;
}


