@if (platformService.isHybrid()) {
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
}

<ion-content>
  <!-- <ion-text>Home Tab Works</ion-text> -->
  @if (platformService.isTouchDevice()) {
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content
        refreshingSpinner="circles"
      />
    </ion-refresher>
  }

  <ion-grid>
    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col>
        <am-section-header
          title="Trending now"
          [loading]="false"
          />
          <!-- (click)="navigate('anime/top-popular')" -->

        @if (trendingAnimesLoading) {
          <ion-list class="horizontal-scroll-container">
            @for (i of loadItems | range; track i) {
              <am-catalog-item [loading]="true"></am-catalog-item>
            }
          </ion-list>
        } @else {
          <ion-list class="horizontal-scroll-container">
            @for (media of trendingAnimes; track $index) {
              <am-catalog-item
                (click)="goToDetails(media.id, media.type, media.isAdult)"
                [title]="getPreferredTitle(media.title, authService.getUserData()?.options?.titleLanguage)"
                [image]="media.coverImage?.large?.replace('medium', 'large') ?? media.coverImage?.medium"
                [isFavourite]="media.isFavourite"
                [fallbackImage]="media.coverImage?.large"
                [rating]="media.averageScore"
                [mediaStatus]="media.mediaListEntry?.status"
                [isAdult]="media.isAdult"
                />
            }
          </ion-list>
        }
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col>
        <am-section-header
          title="Next season"
          [loading]="false"
        />

        @if (nextSeasonAnimesLoading) {
          <ion-list class="horizontal-scroll-container">
            @for (i of loadItems | range; track i) {
              <am-catalog-item [loading]="true"></am-catalog-item>
            }
          </ion-list>
        } @else {
          <ion-list class="horizontal-scroll-container">
            @for (media of nextSeasonAnimes; track $index) {
              <am-catalog-item
                (click)="goToDetails(media.id, media.type, media.isAdult)"
                [title]="getPreferredTitle(media.title, authService.getUserData()?.options?.titleLanguage)"
                [image]="media.coverImage?.large?.replace('medium', 'large') ?? media.coverImage?.medium"
                [isFavourite]="media.isFavourite"
                [fallbackImage]="media.coverImage?.large"
                [mediaStatus]="media.mediaListEntry?.status"
                [isAdult]="media.isAdult"
                />
            }
          </ion-list>
        }
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col>
        <am-section-header
          title="Trending manga"
          [loading]="false"
          />

        @if (trendingMangasLoading) {
          <ion-list class="horizontal-scroll-container">
            @for (i of loadItems | range; track i) {
              <am-catalog-item [loading]="true"></am-catalog-item>
            }
          </ion-list>
        } @else {
          <ion-list class="horizontal-scroll-container">
            @for (media of trendingMangas; track $index) {
              <am-catalog-item
                (click)="goToDetails(media.id, media.type, media.isAdult)"
                [title]="getPreferredTitle(media.title, authService.getUserData()?.options?.titleLanguage)"
                [image]="media.coverImage?.large?.replace('medium', 'large') ?? media.coverImage?.medium"
                [isFavourite]="media.isFavourite"
                [fallbackImage]="media.coverImage?.large"
                [rating]="media.averageScore"
                [mediaStatus]="media.mediaListEntry?.status"
                [isAdult]="media.isAdult"
                />
            }
          </ion-list>
        }
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col>
        <am-section-header
          title="Newly added anime"
          [loading]="false"
          />

        @if (newlyAddedAnimesLoading) {
          <ion-list class="horizontal-scroll-container">
            @for (i of loadItems | range; track i) {
              <am-catalog-item [loading]="true"></am-catalog-item>
            }
          </ion-list>
        } @else {
          <ion-list class="horizontal-scroll-container">
            @for (media of newlyAddedAnimes; track $index) {
              <am-catalog-item
                (click)="goToDetails(media.id, media.type, media.isAdult)"
                [title]="getPreferredTitle(media.title, authService.getUserData()?.options?.titleLanguage)"
                [image]="media.coverImage?.large?.replace('medium', 'large') ?? media.coverImage?.medium"
                [isFavourite]="media.isFavourite"
                [fallbackImage]="media.coverImage?.large"
                [rating]="media.averageScore"
                [mediaStatus]="media.mediaListEntry?.status"
                [isAdult]="media.isAdult"
                />
            }
          </ion-list>
        }
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col>
        <am-section-header
          title="Newly added manga"
          [loading]="false"
          />

        @if (newlyAddedMangasLoading) {
          <ion-list class="horizontal-scroll-container">
            @for (i of loadItems | range; track i) {
              <am-catalog-item [loading]="true"></am-catalog-item>
            }
          </ion-list>
        } @else {
          <ion-list class="horizontal-scroll-container">
            @for (media of newlyAddedMangas; track $index) {
              <am-catalog-item
                (click)="goToDetails(media.id, media.type, media.isAdult)"
                [title]="getPreferredTitle(media.title, authService.getUserData()?.options?.titleLanguage)"
                [image]="media.coverImage?.large?.replace('medium', 'large') ?? media.coverImage?.medium"
                [isFavourite]="media.isFavourite"
                [fallbackImage]="media.coverImage?.large"
                [rating]="media.averageScore"
                [mediaStatus]="media.mediaListEntry?.status"
                [isAdult]="media.isAdult"
                />
            }
          </ion-list>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
