.main {
  ion-row {
    width: 100%;
  }

  .img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .img::part(image) {
    border-radius: 10px;
  }

  .skeleton {
    width: 100%;
    height: 20px;
    border-radius: 5px;
  }
}


