<ion-grid [title]="name" class="ion-activatable">
  <ion-ripple-effect></ion-ripple-effect>
  <ion-row>
    <ion-col>
      @if (loading) {
        <ion-skeleton-text class="img-loading" animated/>
      } @else {
        <div class="img-container">
          @if (!imageLoaded) {
            <ion-skeleton-text class="img-loading" animated/>
          }
          <ion-img
            class="img"
            [class.fav]="isFavourite"
            [class.loaded]="imageLoaded"
            [src]="image"
            (ionImgDidLoad)="onImageLoad()"
            (ionError)="onImageError()" />
        </div>
      }
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col size="12">
          @if (loading) {
            <ion-skeleton-text class="name-loading" animated/>
          } @else {
            <ion-label class="name-label">{{ name }}</ion-label>
          }
        </ion-col>
        <ion-col size="12">
          @if (loading) {
            <ion-skeleton-text class="note-loading" animated/>
          } @else {
            <am-collapsible [thresholdHeight]="80">
              <ion-note>{{ toSentenceCase(note) }}</ion-note>
            </am-collapsible>
          }
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
