<ion-grid class="main ion-padding">
  <!-- <ion-button
    (click)="openModal()"
    ></ion-button> -->
  @if (data) {
    @if ((data.staff && data.staff.edges && data.staff.edges.length > 0) || loading) {
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col>
              <am-section-title title="Staff" />
            </ion-col>
          </ion-row>
          @if (!loading) {
            <am-collapsible [thresholdHeight]="250">
              <ion-row>
                @for (staff of data.staff?.edges; track $index) {
                  <ion-col size="4" sizeLg="2">
                    <am-person-item
                      (click)="openModal('staff', staff.node.id)"
                      [image]="staff.node.image.medium"
                      [name]="getPreferredCharacterName(staff.node.name, authService.getUserData()?.options?.staffNameLanguage)"
                      [note]="staff.role"
                      [isFavourite]="staff.node.isFavourite"
                      />
                  </ion-col>
                }
              </ion-row>
            </am-collapsible>
          } @else {
            <ion-row>
              @for (i of 7 | range; track i) {
                <ion-col size="4" sizeLg="2">
                  <am-person-item
                    [loading]="true"
                    />
                </ion-col>
              }
            </ion-row>
          }
        </ion-col>
      </ion-row>
    }
    @if ((data.characters && data.characters.edges && data.characters.edges.length > 0) || loading) {
      <ion-row class="ion-margin-bottom">
        <ion-col>
          <ion-row>
            <ion-col>
              <am-section-title title="Characters" />
            </ion-col>
          </ion-row>
          @if (!loading) {
            <am-collapsible [thresholdHeight]="230">
              <ion-row>
                @for (character of data.characters?.edges; track $index) {
                  <ion-col size="4" sizeLg="2">
                    <am-character-item
                      (click)="openModal('character', character.node.id)"
                      [image]="character.node.image.large"
                      [name]="getPreferredCharacterName(character.node.name, authService.getUserData()?.options?.staffNameLanguage)"
                      [note]="character.role"
                      [isFavourite]="character.node.isFavourite"
                      [voiceActors]="character.voiceActors"
                      (voiceActorSelected)="openModal('staff', $event)"
                    />
                  </ion-col>
                }
              </ion-row>
            </am-collapsible>
          } @else {
            <ion-row>
              @for (i of 7 | range; track $index) {
                <ion-col size="4" sizeLg="2">
                  <am-character-item
                    [loading]="true"
                  />
                </ion-col>
              }
            </ion-row>
          }
        </ion-col>
      </ion-row>
    }
  }
</ion-grid>

<ion-modal [isOpen]="isModalOpen" (willDismiss)="closeModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button
            class="closeModalButton"
            (click)="closeModal()"
            >
            <ion-icon name="arrow-back" />
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          @if (authService.isAuthenticated()) {
            <ion-button
              (click)="isCharacter(modalData) ? toggleCharacterFavorite() : toggleStaffFavorite()"
              [disabled]="isTogglingFavorite">
              @if (isTogglingFavorite) {
                <ion-spinner name="dots" slot="icon-only"></ion-spinner>
              } @else {
                <ion-icon
                  slot="icon-only"
                  [name]="modalData?.isFavourite ? 'heart' : 'heart-outline'"
                  [color]="modalData?.isFavourite ? 'danger' : 'medium'">
                </ion-icon>
              }
            </ion-button>
          }

          <ion-button>
            <ion-icon slot="icon-only" name="share-social"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-segment
                [value]="modalSelectedTab"
                (ionChange)="onSegmentChange($event)"
                mode="md"
                class="tab-segment">

                <ion-segment-button value="info" layout="icon-top">
                  <ion-icon name="information-circle"></ion-icon>
                </ion-segment-button>

                <ion-segment-button value="media" layout="icon-top">
                  <ion-icon name="film"></ion-icon>
                </ion-segment-button>

                @if (!isCharacter(modalData)) {
                  <ion-segment-button value="va" layout="icon-top">
                    <ion-icon name="mic"></ion-icon>
                  </ion-segment-button>
                }
              </ion-segment>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-no-padding">
      <ion-grid>
        <ion-row class="tabsContainer">
          @if (!loading) {
            @switch (modalSelectedTab) {
              @case ('info') {
                <am-people-info-tab [data]="modalData" [loading]="loading" />
              }
              @case ('media') {
                <am-people-media-tab [data]="modalData" (navigate)="goToDetails($event)" />
              }
              @case ('va') {
                <am-people-va-tab [data]="modalData" (navigate)="goToDetails($event)" (characterSelected)="openModal('character', $event)" />
              }
            }
          } <!-- @else {
            <ion-col>
              @for (i of 7 | range; track i) {
                <ion-row>
                  <ion-col size="12">
                    <ion-skeleton-text class="skeleton" animated/>
                  </ion-col>
                </ion-row>
              }
            </ion-col>
          } -->
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>
