.tab-segment {
  // background-color: red;
  border-radius: 50px;
  border: 1.5px solid white;


  ion-segment-button {
    --color-checked: white;
    border-radius: 0;
    --background-checked: #ffffff50;
  }
}

ion-modal {
  --border-radius: 20px;
}

am-people-info-tab,
am-people-va-tab,
am-people-media-tab {
  width: 100%;
}
