:root {
  --custom-color-current: #46e267;
  --custom-color-planning: #89938b;
  --custom-color-completed: #a7c8fe;
  --custom-color-dropped: #feb3ac;
  --custom-color-paused: #e9c206;
}

.main {
  .chip {
    height: 100%;
  }

  .stackedBar {
    height: 100%;
  }
}
