<ion-row srole="article" class="main ion-activatable" [title]="media?.title?.english ?? media?.title?.romaji">
  <ion-ripple-effect></ion-ripple-effect>
  <ion-col size="3" class="image-container ion-no-padding">
    @if (loading) {
      <div class="image-wrapper">
        <ion-skeleton-text [animated]="true" class="skeleton-image"></ion-skeleton-text>
      </div>
    } @else {
      <div class="image-wrapper">
        @if (!imageLoaded) {
          <ion-skeleton-text [animated]="true" class="skeleton-image"></ion-skeleton-text>
        }
        <ion-img class="img"
          [class.loaded]="imageLoaded"
          [src]="coverImg"
          (ionImgDidLoad)="onImageLoad()"
          (ionError)="onImageError()"
          />
      </div>
      @if (tag) {
        <div class="rank-tag"> {{ tag }}</div>
      }

      @if (isFavourite) {
        <div class="rank-tag favourite" [class.hasTag]="tag ? true : false"> <ion-icon name="heart" class="heart-icon" /></div>
      }

      @if (media.mediaListEntry?.status) {
        <div class="status-tag tag-corner tag-corner-bl" [attr.data-status]="media.mediaListEntry.status">
          <ion-icon [name]="getStatusIcon(media.mediaListEntry.status)"></ion-icon>
        </div>
      }
    }
  </ion-col>
  <ion-col size="9" class="content-container">
    @if (loading) {
      <ion-row class="ion-no-padding ion-align-items-start content-top">
        <ion-col size="12" class="ion-no-padding">
          <ion-skeleton-text [animated]="true" class="skeleton-title"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" class="skeleton-text-medium"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" class="skeleton-text-small"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    } @else {
      <ion-row class="ion-no-padding ion-align-items-start content-top">
        <ion-col size="12" class="ion-no-padding">
          <ion-card-title class="title ion-no-padding">{{ getPreferredTitle(media.title, authService.getUserData()?.options?.titleLanguage) }}</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-align-items-center ion-justify-content-center content-middle">
        <ion-col size="12" class="ion-no-padding">
          <ion-note>{{ `${role ? toSentenceCase(role) + ' ·' : ''} ${toSentenceCase(media.format)} ${media.seasonYear ? ` · ${media.seasonYear}` : media.startDate ? media.startDate.year ? ` · ${media.startDate.year}` : '' : ''}` }}</ion-note>
          @if (isAdult) {
            <am-badge-adult />
          }
        </ion-col>
      </ion-row>
      @if (hasProgress()) {
        <ion-row class="progress-container ion-no-padding ion-align-items-end content-bottom">
          <ion-col size="12" class="ion-no-padding">
            <div class="progress-wrapper">
              <ion-progress-bar [value]="getProgressPercentage()" class="progress-bar"></ion-progress-bar>
              <ion-note class="progress-text">{{ getProgressText() }}</ion-note>
            </div>
          </ion-col>
        </ion-row>
      }
    }
  </ion-col>
</ion-row>
