<ion-row srole="article" class="main ion-activatable">
  <ion-ripple-effect></ion-ripple-effect>
  <ion-col size="3" class="image-container ion-no-padding">
    <ion-img class="img"
      [src]="coverImg"
      (ionError)="onImageError()"
      />
    @if (tag) {
      <div class="rank-tag"> {{ tag }}</div>
    } @else if (isFavourite) {
      <div class="rank-tag favourite"> <ion-icon name="heart" class="heart-icon" /></div>
    }
  </ion-col>
  <ion-col size="9" class="content-container ion-padding">
    <ion-row class="ion-no-padding ion-align-items-start content-top">
      <ion-col size="12" class="ion-no-padding">
        <ion-card-title class="title ion-no-padding">{{ media.title.english ?? media.title.romaji }}</ion-card-title>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-align-items-center ion-justify-content-center content-middle">
      <ion-col size="12" class="ion-no-padding">
        <ion-note>{{ `${toSentenceCase(media.format)} ${media.seasonYear ? ` · ${media.seasonYear}` : media.startDate ? media.startDate.year ? ` · ${media.startDate.year}` : '' : ''}` }}</ion-note>
      </ion-col>
    </ion-row>
    @if (media.averageScore) {
      <ion-row class="rating-container ion-no-padding ion-align-items-end content-bottom">
        <ion-col size="12" class="ion-no-padding">
          <ion-icon name="star" class="scoreIcon"></ion-icon>
          <ion-note>{{ media.averageScore }}%</ion-note>
        </ion-col>
      </ion-row>
    }
  </ion-col>
</ion-row>
