.media {
  cursor: pointer;

  .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
  }

  .img {
    width: 100%;
    object-fit: cover;
  }

  .img::part(image) {
    border-radius: 10px;
  }
}
