.main {
  // overflow-y: scroll;
  height: 100%;

  .mediaTitle {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em; /* Adjust line height as needed */
    max-height: 2.4em; /* line-height * number of lines */
  }
}
