<ion-grid class="main ion-padding">
  @if (loading || !data) {
    @for (i of 7 | range; track i) {
      <ion-row>
        <ion-col size="12">
          <ion-skeleton-text class="skeleton" animated/>
        </ion-col>
      </ion-row>
    }
  } @else {
    @if (data) {
      <ion-card-title class="ion-margin-top ion-margin-bottom">Information</ion-card-title>

      <ion-row>
        <ion-col size="4">
          <ion-note>Duration</ion-note>
        </ion-col>
        <ion-col size="8">
          <ion-text>{{ data.duration ? data.duration+' min' : 'Unknown'}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-note>Start date</ion-note>
        </ion-col>
        <ion-col size="8">
          <ion-text>{{ data.startDate?.year ? formatDate(data.startDate) : 'Unknown' }}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-note>End date</ion-note>
        </ion-col>
        <ion-col size="8">
          <ion-text>{{ data.endDate?.year ? formatDate(data.endDate) : 'Unknown' }}</ion-text>
        </ion-col>
      </ion-row>

      @if (data.season){
        <ion-row>
          <ion-col size="4">
            <ion-note>Season</ion-note>
          </ion-col>
          <ion-col size="8">
            <ion-text>{{ toSentenceCase(data.season) }} {{ data.seasonYear }}</ion-text>
          </ion-col>
        </ion-row>
      }

      <ion-row>
        <ion-col size="4">
          <ion-note>Source</ion-note>
        </ion-col>
        <ion-col size="8">
          <ion-text>{{ toSentenceCase(data.source) }}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-note>Romaji</ion-note>
        </ion-col>
        <ion-col size="8">
          <ion-text>{{ data.title.romaji }}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-note>English</ion-note>
        </ion-col>
        <ion-col size="8">
          <ion-text>{{ data.title.english ?? '-' }}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-note>Native</ion-note>
        </ion-col>
        <ion-col size="8">
          <ion-text>{{ data.title.native ?? '-' }}</ion-text>
        </ion-col>
      </ion-row>

      @if (data.synonyms && data.synonyms.length > 0) {
        <ion-row>
          <ion-col size="4">
            <ion-note>Synonyms</ion-note>
          </ion-col>
          <ion-col size="8" class="ion-no-padding">
            <am-collapsible [thresholdHeight]="100">
              <ion-row>
                @for (synonym of data.synonyms; track $index){
                  <ion-col size="12">
                    <ion-text>{{ synonym }}</ion-text>
                  </ion-col>
                }
              </ion-row>
            </am-collapsible>
          </ion-col>
        </ion-row>
      }

      @if (mainStudios && mainStudios.length > 0) {
        <ion-row>
          <ion-col>
            <ion-note>Studios</ion-note>
          </ion-col>
          <ion-col size="12">
            <ion-row>
              @for (studio of mainStudios; track $index) {
                <ion-col size="6" sizeLg="3">
                  <am-info-chip type="text" outline [info]="studio.node.name" />
                </ion-col>
              }
            </ion-row>
          </ion-col>
        </ion-row>
      }

      @if (otherStudios && otherStudios.length > 0) {
        <ion-row>
          <ion-col>
            <ion-note>Producers</ion-note>
          </ion-col>
          <ion-col size="12">
            <ion-row>
              @for (studio of otherStudios; track $index) {
                <ion-col size="6" sizeLg="3">
                  <am-info-chip type="text" outline [info]="studio.node.name"></am-info-chip>
                </ion-col>
              }
            </ion-row>
          </ion-col>
        </ion-row>
      }

      @if (data.tags && data.tags.length > 0) {
        <ion-card-title class="ion-margin-top ion-margin-bottom">Tags</ion-card-title>

        <am-collapsible [thresholdHeight]="100">
          <ion-row>
            @for (tag of data.tags; track $index) {
              <ion-col size="6" sizeLg="3">
                <am-info-chip type="text" outline [info]="tag.rank + '%'" [note]="tag.name" />
              </ion-col>
            }
          </ion-row>
        </am-collapsible>
      }

      @if (data.trailer && trailerURL) {
        <ion-card-title class="ion-margin-top ion-margin-bottom">Trailer</ion-card-title>

        <am-media-thumbnail [thumbnail]="data.trailer.thumbnail" [mediaUrl]="trailerURL" [size]="7" [sizeLg]="5"></am-media-thumbnail>
      }

      @if (data.streamingEpisodes && data.streamingEpisodes.length > 0) {
        <ion-card-title class="ion-margin-top ion-margin-bottom">Episodes</ion-card-title>

        <am-collapsible [thresholdHeight]="100">
          <ion-row>
            @for (episode of data.streamingEpisodes; track $index) {
              <ion-col size="4" sizeLg="3">
                <am-media-thumbnail [thumbnail]="episode.thumbnail" [mediaUrl]="episode.url" [size]="12" [sizeLg]="12"></am-media-thumbnail>
                <ion-card-subtitle class="mediaTitle">{{ episode.title }}</ion-card-subtitle>
              </ion-col>
            }
          </ion-row>
        </am-collapsible>
      }

      @if (streamingSites && streamingSites.length > 0) {
        <ion-card-title class="ion-margin-top ion-margin-bottom">Streaming sites</ion-card-title>

        <ion-row>
          @for (site of streamingSites; track $index) {
            <ion-col size="6" sizeLg="4">
              <am-info-chip
                [img]="site?.icon"
                [note]="site.site"
                outline
                horizontal
                clickable
                (click)="openUrl(site.url)"
                />
            </ion-col>
          }
        </ion-row>
      }

      @if (externalLinks && externalLinks.length > 0) {
        <ion-card-title class="ion-margin-top ion-margin-bottom">External links</ion-card-title>

        <am-collapsible [thresholdHeight]="150">
          <ion-row>
            @for (link of externalLinks; track $index) {
              <ion-col size="6" sizeLg="4">
                <am-info-chip type="text"
                  [img]="link?.icon"
                  [info]="link.site"
                  [note]="getLangCode(link.language)"
                  vertical
                  outline
                  clickable
                  (click)="openUrl(link.url)"
                  />
              </ion-col>
            }
          </ion-row>
        </am-collapsible>
      }
    }
  }
</ion-grid>
