<ion-grid class="main ion-padding-top" role="feed">
  @if (firstLoading) {
    <ion-row>
      @for (i of 10 | range; track i) {
        <ion-col size="4" sizeMd="3">
          <am-character-item
            [loading]="true"
            />
        </ion-col>
      }
    </ion-row>
  } @else {
    @if (data && characterMediaEdges && characterMediaEdges.length > 0) {
      <ion-row>
        @for (edge of characterMediaEdges; track $index) {
          @if (edge.characters && edge.characters.length > 0) {
            @for (character of edge.characters; let charIdx = $index; track character.id) {
              <ion-col size="4" sizeMd="3">
                <am-character-item
                  [image]="character.image.large"
                  [name]="getPreferredCharacterName(character.name, authService.getUserData()?.options?.staffNameLanguage)"
                  [note]="getCharacterNote(edge)"
                  [isFavourite]="character.isFavourite"
                  (click)="onCharacterClick(character.id)"
                  />
              </ion-col>
            }
          }
        }
      </ion-row>
      <ion-infinite-scroll
        (ionInfinite)="loadMore($event)"
        [disabled]="!hasNextPage"
        threshold="20px"
        >
        <ion-infinite-scroll-content loadingSpinner="bubbles"/>
      </ion-infinite-scroll>
    } @else {
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-text>No voice acting data available.</ion-text>
        </ion-col>
      </ion-row>
    }
  }
</ion-grid>
